<!doctype html>
<html lang="pl">
    <head>
            <% include headerStuff %>
    </head>
    <body class=" ">
        
        <% include side-menu %>

        <% include nav2 %>

        <div class="main-container">
            <section class="cover height-100 imagebg" data-overlay="8">
                <div class="background-image-holder">
                    <img alt="background" src="img/projektecommerce/guliwerkids.jpg" />
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-8 col-lg-9">
                            <h2>
                                Szymon Ciba założyciel Projektu Ecommerce
                            </h2>
                            <ul class="social-list list-inline list--hover">
                                <li>
                                    <a href="https://www.facebook.com/Projekt-Ecommerce-104838704205688">
                                        <i class="socicon socicon-facebook icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCiWYDhKYPtaTBzJGsAEd4qw/videos">
                                        <i class="socicon socicon-youtube icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/szymon.ciba/">
                                        <i class="socicon socicon-instagram icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/company/projekt-ecommerce/">
                                        <i class="socicon socicon-linkedin icon icon--xs"></i>
                                    </a>
                                </li>
                            </ul>
                            <p class="lead">
                                Od 5 lat tworzę i optymalizuję sklepy z różnych branż. Przez ten czas nawiązałem kontakty ze świetnymi specjalistami, z którymi tworzymy teraz Projekt Ecommerce. Z sukcesami w branży pojawiło się wiele zapytań o rady i pomoc, dlatego postanowiłem stworzyć cykl tutoriali dla programistów, którzy dzięki nim mogą poszerzać swoją wiedzę i kompetencje. To mój wkład w społczeność developerów ecommerce w Polsce.
                                <br /><br />
                                Nasze sprawdzone rozwiązania i praca w trybie SCRUM pozwala nam dostarczać najlepsze rozwiązania w jak najkrótszym czasie. Klient jest informowany o postępach pracy na bieżąco i ma wpływ na jej przebieg.
                                <br /><br />
                                Tylko wtedy jak Twój sklep osiąga sukces możemy powiedzieć, że zrobiliśmy dobrą robotę. 
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

        <% include footer2 %>
    </body>
</html>