<!doctype html>
<html lang="pl">
    <head>
      <% include headerStuff %>
    </head>
    <body class=" ">
        <a id="start"></a>
        <% include side-menu %>
        
        <% include nav %>

        <div class="main-container">
            <section class="text-center height-50">
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <h2>Porozmawiajmy o Twoim projekcie</h2>
                            <p class="lead">
                                <a href="mailto:info@projektecommerce.pl">info@projektecommerce.pl</a>
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center imagebg" data-gradient-bg='#151414'>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8">
                            <form class="form--inline form-email" data-success="Thanks for your enquiry, we'll be in touch shortly." data-error="Please fill in all fields correctly.">
                                <span class="h4 inline-block">Dzień dobry, mam na imię</span>
                                <input type="text" name="name" placeholder="Imię" class="validate-required" />
                                <span class="h4 inline-block">i reprezentuje</span>
                                <input type="text" name="Company" placeholder="Nazwa sklepu" class="validate-required" />
                                <span class="h4 inline-block">Poszukuje specjalistów od</span>
                                <div class="input-select">
                                    <select class="validate-required">
                                        <option selected="" value="">Budowy sklepu</option>
                                        <option value="Design">Audytu</option>
                                        <option value="Development">Stworzenia modułu</option>
                                        <option value="Branding">Optymalizacji</option>
                                        <option value="Branding">Czegoś innego</option>
                                    </select>
                                </div>
                                <span class="h4 inline-block">Proszę się ze mną skontaktować</span>
                                <input type="email" name="email" placeholder="E-mail" class="validate-required validate-email" />
                                <span class="h4 inline-block">lub</span>
                                <input type="tel" name="Phone" placeholder="Telefon" class="validate-required" />
                                <span class="h4 inline-block">abyśmy omówili szczegóły.</span>
                                <div>
                                    <button type="submit" class="btn btn--primary type--uppercase">Wyślij</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            <% include footer %>
    </body>
</html>