extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}

  <!DOCTYPE html>
<head>
</head>
<body>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
</body>
</html>
