<footer class="footer-3 text-center-xs space--xs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <ul class="list-inline">
                        <li><a href="/omnie"><span class="h6 type--uppercase">O mnie</span></a></li>
                        <li><a href="/uslugi"><span class="h6 type--uppercase">Usługi</span></a></li>
                        <li><a href="/#badanie"><span class="h6 type--uppercase">Badanie</span></a></li>
                        <li><a href="/kontakt"><span class="h6 type--uppercase">Kontakt</span></a></li>
                    </ul>
                </div>
                <div class="col-md-5 text-right text-center-xs">
                    <ul class="social-list list-inline list--hover">
                        <li>
                            <a href="https://www.facebook.com/Projekt-Ecommerce-104838704205688">
                                <i class="socicon socicon-facebook icon icon--xs"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCiWYDhKYPtaTBzJGsAEd4qw/videos">
                                <i class="socicon socicon-youtube icon icon--xs"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/szymon.ciba/">
                                <i class="socicon socicon-instagram icon icon--xs"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/projekt-ecommerce/">
                                <i class="socicon socicon-linkedin icon icon--xs"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-md-7">
                    <span class="type--fine-print">&copy;
                        <span class="update-year"></span> Projekt Ecommerce.</span>
                    <a class="type--fine-print" href="/politykaprywatnosci">Polityka prywatności</a>
                    <a class="type--fine-print" href="/politykacookies">Polityka cookies</a>
                </div>
                <div class="col-md-5 text-right text-center-xs">
                    <a class="type--fine-print" href="mailto:info@projektecommerce.pl">info@projektecommerce.pl</a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
      </footer>
</div>
<!--<div class="loader"></div>-->
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
<i class="stack-interface stack-up-open-big"></i>
</a>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/flickity.min.js"></script>
<script src="js/easypiechart.min.js"></script>
<script src="js/parallax.js"></script>
<script src="js/typed.min.js"></script>
<script src="js/datepicker.js"></script>
<script src="js/isotope.min.js"></script>
<script src="js/ytplayer.min.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/granim.min.js"></script>
<script src="js/jquery.steps.min.js"></script>
<script src="js/countdown.min.js"></script>
<script src="js/twitterfetcher.min.js"></script>
<script src="js/spectragram.min.js"></script>
<script src="js/smooth-scroll.min.js"></script>
<script src="js/scripts.js"></script>