<!doctype html>
<html lang="pl">
    <head>
      <% include headerStuff %>
    </head>
    <body class=" ">
        <a id="start"></a>

        <% include side-menu %>

        <% include nav %>


        <div class="main-container">
            <section class="cover unpad--bottom switchable switchable--switch bg--secondary text-center-xs" style="padding-top: 5.5em;">
                <div class="container">
                    <div class="row align-items-center justify-content-around">
                        <div class="col-md-6 col-lg-5 mt-0">
                            <h1>
                                Pomagamy sklepom zwiększać konwersję
                            </h1>
                            <p class="lead">
                                W jednym sklepie na tysiąc unikalnych użytkowników zyskamy 10 zamówień, a w drugim 30. Zastanawiałeś się kiedyś nad tym dlaczego tak się dzieje?
                            </p>
                            <a class="btn btn--primary type--uppercase" href="/kontakt">
                                <span class="btn__text">
                                    Bezpłatna wycena
                                </span>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <img alt="Image" src="img/projektecommerce/szymonslider2.jpg" />
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <% if (typeof websitetest != "undefined" && websitetest == true) { %>
            <section id="badanie" class="height-60 imagebg" id="websitetest" data-gradient-bg='#151414'>
                    <div class="container pos-vertical-center">
                        <div class="row">
                            <% if (typeof data != "undefined") { %>
                            <div class="col-md-12">
                                        <span class="h1 inline-block"><%= data.id %></span>
                                        <p class="lead">
                                                Google Page Speed oceniło Twoją stronę <%= data.ruleGroups.SPEED.score %> /100.<br />
                                            <!--
                                                numberResources: <%= data.pageStats.numberResources %>,<br />
                                                numberHosts: <%= data.pageStats.numberHosts %>,<br />
                                                totalRequestBytes: <%= (data.pageStats.totalRequestBytes/1024) %>,<br />
                                                numberStaticResources: <%= data.pageStats.numberStaticResources %>,<br />
                                                htmlResponseBytes: <%= (data.pageStats.htmlResponseBytes/1024) %>,<br />
                                                overTheWireResponseBytes: <%= (data.pageStats.overTheWireResponseBytes/1024) %>,<br />
                                                imageResponseBytes: <%= (data.pageStats.imageResponseBytes/1024) %>,<br />
                                                javascriptResponseBytes: <%= (data.pageStats.javascriptResponseBytes/1024) %>,<br />
                                                otherResponseBytes: <%= (data.pageStats.otherResponseBytes/1024) %>,<br />
                                                numberJsResources: <%= data.pageStats.numberJsResources %>,<br />
                                                numTotalRoundTrips: <%= data.pageStats.numTotalRoundTrips %>,<br />
                                                numRenderBlockingRoundTrips: <%= data.pageStats.numRenderBlockingRoundTrips %>,<br />
                                            -->
                                        </p>
                            </div>
                            <div class="col-md-12" style="margin-bottom: 10px; margin-top: 20px;">
                                <table class="border--round table--alternate-column" style="background: #fff;">
                                    <thead>
                                        <tr>
                                            <th>Zapytania</th>
                                            <th>HTML</th>
                                            <th>Zdjęcia</th>
                                            <th>JavaScript</th>
                                            <th>Inne</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><%= (data.pageStats.totalRequestBytes/1024).toFixed(0) %>kb</td>
                                            <td><%= (data.pageStats.htmlResponseBytes/1024).toFixed(0) %>kb</td>
                                            <td><%= (data.pageStats.imageResponseBytes/1024).toFixed(0) %>kb</td>
                                            <td><%= (data.pageStats.javascriptResponseBytes/1024).toFixed(0) %>kb</td>
                                            <td><%= (data.pageStats.otherResponseBytes/1024).toFixed(0) %>kb</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <% } %>
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </section>
                <% } else { %>


                <section id="badanie" class="text-center height-50 imagebg" id="websitetest" data-gradient-bg='#151414'>
                        <div class="container pos-vertical-center">
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="h1 inline-block">Bezpłatne badanie sklepu internetowego</span>
                                    <p class="lead">
                                        Wpisz adres Twojej strony internetowej
                                    </p>
                                    <div class="boxed boxed--lg bg--white text-left">
                                        <form method="POST" action="/#websitetest" class="form--horizontal row m-0">
                                            <div class="col-md-9">
                                                <input type="text" name="website" placeholder="Wpisz adres WWW">
                                            </div>
                                            <div class="col-md-3">
                                                <button type="submit" class="btn btn--primary type--uppercase">Darmowe Badanie</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </section>
                    <% } %>

            <section class="feature-large feature-large-2">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-4 col-lg-5">
                            <h3>Dekalog</h3>
                            <p style="font-size: 16px;" class="text-justify">
                                Zapraszamy do zapoznania się z naszymi zasadami, które towarzyszą nam od lat. Wierzymy, że tylko dzięki przejrzystej komunikacji możemy budować firmę, w której chce się pracować. Tworzymy firmę, w której klienci są w ciągłym kontakcie z zespołem i wiedzą na jakim etapie są prace. Wierzymy, że zaufanie i długotrwałą markę buduje się przez dostarczanie doskonałej pracy i do tego dążymy każdego dnia.     
                            </p>
                        </div>
                        <div class="col-md-4 col-lg-5">
                            <p style="font-size: 16px;">
                                1. Rozwój firmy opieramy o rozwój naszych klientów.<br />
                                2. Dbamy by relacje w biurze były wyjątkowe i trwałe.<br />
                                3. Dzielimy się wiedzą bezinteresownie.<br />
                                4. Szukamy i proponujemy najlepsze rozwiązania.<br />
                                5. Klienci mogą na nas polegać, tak budujemy zaufanie.<br />
                                6. Dobre planowanie to terminowe oddanie projektu.<br />
                                7. Nieprzerwanie inwestujemy w wiedzę.<br />
                                8. Piszemy bezpieczny kod, podnosimy standardy.<br />
                                9. Jesteśmy AGILE.<br />
                                10. Robimy to co kochamy.<br />
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            <section class=" bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="slider slider--inline-arrows" data-arrows="true">
                                <ul class="slides">
                                    <li>
                                        <div class="testimonial row justify-content-center">
                                            <div class="col-md-12">
                                                <span class="h3">&ldquo;Razem z InpliCode tworzymy wiele dedykowanych rozwiązań. Wszystkie projekty są oddawane terminowo. InpliCode to profesjonalny i rzetelny zespół programistów.&rdquo;
                                                </span>
                                                <h5>Marcin Majchrzak</h5>
                                                <span>CEO &mdash; Concept Intelligence</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

                <section class="text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Technologie</h2>
                                    <p class="lead">
                                        Stosujemy technologie zgodne z najnowszysmi standardami
                                    </p>
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </section>
                <section class="text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-inline list-inline--images">
                                        <li>
                                            <img alt="Image" src="img/projektecommerce/technologie/nodejs.png" />
                                        </li>
                                        <li>
                                            <img alt="Image" src="img/projektecommerce/technologie/php.png" />
                                        </li>
                                        <li>
                                            <img alt="Image" src="img/projektecommerce/technologie/mysql.png" />
                                        </li>
                                        <li>
                                            <img alt="Image" src="img/projektecommerce/technologie/bootstrap.png" />
                                        </li>
                                        <li>
                                            <img alt="Image" src="img/projektecommerce/technologie/prestashop.png" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </section>

            <section class="switchable bg--secondary">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-6 col-lg-5">
                            <div class="switchable__text">
                                <h2>Śledź mnie na Instagramie</h2>
                                <p class="lead">
                                    Poznaj moją firmę od zaplecza i bądź na bieżąco ze wszystkim co robimy!
                                </p>
                                <a class="btn btn--icon bg--instagram type--uppercase" href="https://www.instagram.com/szymon.ciba/">
                                    <span class="btn__text">
                                        <i class="socicon socicon-instagram"></i>
                                        Follow @szymon.ciba
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="instafeed" data-user-name="szymon.ciba" data-access-token="3689052958.1677ed0.ef5889520551430ebed48a81ed595e80" data-client-id="5ce8427177084354bf96675060f932fe" data-amount="6" data-grid="3"></div>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end of container-->
            </section>

            <section class="text-center imagebg" data-gradient-bg='#151414'>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8">
                            <form class="form--inline form-email" data-success="Thanks for your enquiry, we'll be in touch shortly." data-error="Please fill in all fields correctly.">
                                <span class="h4 inline-block">Dzień dobry, mam na imię</span>
                                <input type="text" name="name" placeholder="Imię" class="validate-required" />
                                <span class="h4 inline-block">i reprezentuje</span>
                                <input type="text" name="Company" placeholder="Nazwa sklepu" class="validate-required" />
                                <span class="h4 inline-block">Poszukuje specjalistów od</span>
                                <div class="input-select">
                                    <select class="validate-required">
                                        <option selected="" value="">Budowy sklepu</option>
                                        <option value="Design">Audytu</option>
                                        <option value="Development">Stworzenia modułu</option>
                                        <option value="Branding">Optymalizacji</option>
                                        <option value="Branding">Czegoś innego</option>
                                    </select>
                                </div>
                                <span class="h4 inline-block">Proszę się ze mną skontaktować</span>
                                <input type="email" name="email" placeholder="E-mail" class="validate-required validate-email" />
                                <span class="h4 inline-block">lub</span>
                                <input type="tel" name="Phone" placeholder="Telefon" class="validate-required" />
                                <span class="h4 inline-block">abyśmy omówili szczegóły.</span>
                                <div>
                                    <button type="submit" class="btn btn--primary type--uppercase">Wyślij</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            <% include footer %>
    </body>
</html>