<!--end of notification-->
<div class="nav-container ">
        <div class="bar bar--sm visible-xs">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-md-2">
                        <a href="/">
                            <img class="logo logo-dark" alt="logo" src="img/projektecommerce/logo.png" />
                            <img class="logo logo-light" alt="logo" src="img/projektecommerce/logo.png" />
                        </a>
                    </div>
                    <div class="col-9 col-md-10 text-right">
                        <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                            <i class="icon icon--sm stack-interface stack-menu"></i>
                        </a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
        <!--end bar-->
        <nav id="menu1" class="menu-inpli-top bar bar--sm bar-1 hidden-xs bar--absolute">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-2 hidden-xs">
                        <div class="bar__module">
                            <a href="/">
                                <img class="logo logo-dark" alt="logo" src="img/projektecommerce/logo.png" />
                                <img class="logo logo-light" alt="logo" src="img/projektecommerce/logo.png" />
                            </a>
                        </div>
                        <!--end module-->
                    </div>
                    <div class="col-lg-9 col-md-12 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <ul class="menu-horizontal text-left">
                                <li><a href="/omnie">O mnie</a></li>
                                <li><a href="/uslugi">Usługi</a></li>
                                <li><a href="/#badanie">Badanie</a></li>
                                <li><a href="/kontakt">Kontakt</a></li>
                            </ul>
                        </div>
                        <!--end module-->
                        <div class="bar__module">
                            <a class="btn btn--sm type--uppercase" href="#" data-notification-link="social-media">
                                <span class="btn__text">
                                    Social Media
                                </span>
                            </a>
                            <a class="btn btn--sm btn--primary type--uppercase" href="/kontakt">
                                <span class="btn__text">
                                    Wyceń swój projekt
                                </span>
                            </a>
                    
                        </div>
                        <!--end module-->
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </nav>
        <!--end bar-->
    </div>