<!DOCTYPE html>
<head>
  <% include headerStuff %>
</head>
<body>
<% include pageHeader %>
<form method='POST' action='save'>
<input type='hidden' name='docreate' value='<% docreate ? "create" : "update" %>'>
<p>Klucz:
<% if (docreate) { %>
  <input type='text' name='productkey' value='' />
<% } else { %>
  <%= product ? productkey : "" %>
  <input type='hidden' name='productkey' value='<%= product ? productkey : "" %>' />
<% } %>
</p>
<p>
  Tytuł: <input type='text' name='title' value='<%= product ? product.title : "" %>' />
</p>
<br />
  Opis <textarea rows=5 cols=40 name='description'><%= product ? product.description : "" %></textarea>
<br />
<input type='submit' value='wyślij' />
</form>
<% include footer %>
</body>
</html>