<!DOCTYPE html>
<head>
  <% include headerStuff %>
</head>
<body>
<% include pageHeader %>
<h3><%= product ? product.title : "" %></h3>
<p><%= product ? product.description : "" %></p>
<p>Klucz <%= productkey %></p>
<% if (productkey) { %>
  <hr />
  <p>
    <a href="destroy?key=<%= productkey %>">Usuń</a>
    <a href="edit?key=<%= productkey %>">Edytuj</a>
  </p>
<% } %>
<% include footer %>
</body>
</html>