<!doctype html>
<html lang="pl">
    <head>
      <% include headerStuff %>
    </head>
    <body class=" ">
        <a id="start"></a>
        <% include side-menu %>
        
        <% include nav %>

        <div class="main-container">
            <section class="text-center height-50">
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <h1>Czym się zajmujemy?</h1>
                            <p class="lead">
                                info@projektecommerce.pl
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable feature-large bg--secondary">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-4">
                            <img alt="Image" class="border--round box-shadow-wide" src="img/projektecommerce/sklep.jpg">
                        </div>
                        <div class="col-md-8">
                            <div class="mt--2">
                                <h2>Responsywne sklepy Prestashop</h2>
                                <p class="lead text-justify">
                                    Nasze szerokie doświadczenie pozwoliło nam skompletować utalentowanych specjalistów w dziedzienie e-commerce. Dzięki kompetentnemu zespołowi realizujemy ambitne projekty na najwyższym poziomie. Od pierwszej linijki kodu, przez opisy i zdjęcia jesteśmy Twoim wsparciem.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable feature-large">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-7">
                            <div class="mt--2">
                                <h2>Techniczny audyt</h2>
                                <p class="lead text-justify">
                                    Wykonujemy kompleksowe badania całej struktury technologicznej projektów komercyjnych stworzonych w oparciu o silnik Prestashop. Audyt dostarczy Ci wielu konkretnych informacji i pomoże zoptymalizować konwersję. Jest to rozwiązanie dla firm, które chcą poprawić swoje osiągi i potrzebują ekspertów, którzy im w tym pomogą.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <img alt="Image" class="border--round box-shadow-wide" src="img/projektecommerce/audyt.jpg">
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable feature-large bg--secondary">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-4">
                            <img alt="Image" class="border--round box-shadow-wide" src="img/projektecommerce/modul.jpg">
                        </div>
                        <div class="col-md-8">
                            <div class="mt--2">
                                <h2>Moduły Prestashop</h2>
                                <p class="lead text-justify">
                                    Wykonaliśmy już szereg modułów na sprecyzowane potrzeby naszych klientów. Jeśli tworzysz innowacyjny biznes to potrzebujesz odpowiedznich i działających rozwiązań. My to rozumiemy dlatego nasze moduły są świetnym wsparciem Twojej działalności.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            <% include footer %>
    </body>
</html>