<div class="notification pos-right pos-top side-menu bg--white" data-notification-link="social-media" data-animation="from-right">
    <div class="side-menu__module">
        <a class="btn btn--icon bg--facebook block" href="https://www.facebook.com/Projekt-Ecommerce-104838704205688">
            <span class="btn__text">
                <i class="socicon-facebook"></i>
                Facebook
            </span>
        </a>
        <a class="btn btn--icon bg--googleplus block" href="https://www.youtube.com/channel/UCiWYDhKYPtaTBzJGsAEd4qw/videos">
            <span class="btn__text">
                <i class="socicon-youtube"></i>
                YouTube
            </span>
        </a>
        <a class="btn btn--icon bg--instagram block" href="https://www.instagram.com/szymon.ciba/">
            <span class="btn__text">
                <i class="socicon-instagram"></i>
                Instagram
            </span>
        </a>
        <a class="btn btn--icon bg--linkedin block" href="https://www.linkedin.com/company/projekt-ecommerce/">
            <span class="btn__text">
                <i class="socicon-linkedin"></i>
                Linkedin
            </span>
        </a>
    </div>
</div>