/*! Place your custom styles here */

.list-inline--images img {
    max-height: 5em;
}

@media all and (min-width: 768px) {
    .feature-large-2 div[class*='col-']:first-child {
      margin-top: 5.57142857em;
    }
    .feature-large-2 div[class*='col-']:last-child {
      margin-top: 3em;
    }
}

.bg--instagram {
    background: #d34762;
    color: #fff;
  }

.bg--linkedin {
    background: #0073b0;
    color: #fff;
}

.btn.bg--linkedin .btn__text,
.btn.bg--linkedin .btn__text i {
    color: #fff;
}


@media all and (min-width: 990px) {
  .menu-inpli-top {
    position: fixed !important; 
    background: #fafafa !important; 
  }
}